*{
    box-sizing: border-box;
}

img{
    display: block;
    max-inline-size: 100%;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header,
section,
footer{
    padding-inline: 100px;
}

header {
    background-color: #1f2937;
    padding-block-start: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight:700 ;
    margin: 0;
}

.primaryNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.primaryNav a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}