/*******General Styles*****/

*{
    box-sizing: border-box;
}

img{
    display: block;
    max-inline-size: 100%;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header,
section,
footer{
    padding-inline: 100px;
}

/*****Header Styles*******/

header {
    background-color: #1f2937;
    padding-block-start: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight:700 ;
    margin: 0;
}

.primaryNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.primaryNav a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/****Section One Styles*****/

.secOne{
    background-color: #1f2937;
    padding-block: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.secOneImg{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secOneHead{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.secOnePar{
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.secOneButton{
    margin-block-start: 20px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 18px;
    font-weight:700 ;
    padding: 10px 40px;
}